/node_modules
/public/hot
/vendor
.env.backup
.env_ori
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.platform
SoxAppKey.ppk
sox2.zip
documentacion.zip
.gitignore
soxKey.ppk