
// MÁRGENES

.jumbonav {
    margin: 0;
}

.mg-icons {margin: auto 1%}


.mg-log {
    margin: 5%;
}

/*div.row.align-items-center.mg-reg {
    padding: 2%;
}*/

.mg-reg {
    margin-top: 5%;
    margin-bottom: 5%;
}
